<div class="row">
    <div class="col-9 mx-auto col-xxl-2 vel--footer-title has--white-font text-center text-lg-start me-lg-8 ms-lg-0 p-1">
        <p><strong>Get to know the Modelica Association Projects:</strong></p>
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100">
            <div class="vel--footer-image-item px-2">
                <div class="col-4 col-lg-3  col-xxl-6">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_modelica-lang--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_modelica-lang--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100">
            <div class="vel--footer-image-item px-2">
                <div class="col-4  col-lg-3  col-xxl-6 ">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_modelica-lib--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_modelica-lib--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-none d-md-none d-xxl-block col-xxl-5 vel--footer-spacer">
    </div>
    <div class="d-none d-sm-none d-md-none d-xxl-block col-xxl-2 vel--footer-spacer me-8">
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1 ">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100">
            <div class="vel--footer-image-item px-2">
                <div class="col-4 col-xl-5 col-xxl-6">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_dcp-std--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_dcp-std--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1 ">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100">
            <div class="vel--footer-image-item px-2">
                <div class="col-4 col-xl-5  col-xxl-6">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_ssp-std--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_ssp-std--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1 ">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100">
            <div class="vel--footer-image-item px-2">
                <div class="col-4 col-xl-4  col-xxl-6">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_fmi-std--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_fmi-std--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-9 mx-auto mx-sm-0  col-sm-6 col-lg-3 col-xxl-2 vel--footer-item p-0 my-1 ">
        <div class="row has--background-white has--rounded-border m-1 p-1 h-100 is--disabled">
            <div class="vel--footer-image-item px-2">
                <div class="col-4 col-xl-5  col-xxl-6">
                    <figure>
                        <picture>
                            <source srcset="{{ '/assets/images/logos/n_efmi-std--color.svg' | relative_url }}">
                            <img src="{{ '/assets/images/logos/n_efmi-std--color.svg' | relative_url }}"/>
                        </picture>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 pb-2">
    <div class="col-12 px-0">
        <hr/>
    </div>
</div>

