<div class="row mx-0">
    <div class="col-12 header-image p-0">
        <figure>
            <picture>
                <source srcset="{{site.url}}/assets/images/images/example-header-1920x584.jpg"
                        media="(min-width: 992px)">
                <source srcset="{{site.url}}/assets/images/images/example-header-820x584.jpg"
                        media="(min-width: 768px)">
                <source srcset="{{site.url}}/assets/images/images/example-header-375x584.jpg"
                        media="(max-width: 767px)">
                <img src="{{site.url}}/assets/images/images/example-header-1920x584.jpg">
            </picture>
        </figure>
        <div class="row has--background-light mx-0 px-1 px-md-4 px-lg-0">
            <div class="col-12 col-lg-8 offset-lg-2 vel--header-overlay has--background-white py-5 ps-5 pe-9" id="overlay">
                <div class="col-12 vel--overlay-headline">
                    <div class="row">
                        <div class="col-12 vel--title m-0">

                            <h2>Bringing FMUs
                                <span>onto embedded devices.</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 vel--overlay-info pt-1">
                        <p>EMPHYSIS (Embedded systems with physical models in the production code software) is an ITEA3
                            research project that is running Sept. 2017 - Feb. 2021. The major goal of the EMPHYSIS
                            project is to develop a new standard eFMI (FMI for embedded systems) to exchange
                            physics-based models between modelling and simulation environments with software development
                            environments for electronic control units (ECU), micro controllers or other embedded systems
                            and provide prototype implementations for the whole tool chain from physics-based modeling
                            environments to production code on electronic control units.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>