<a class="navbar-brand me-lg-6 me-xxl-8 me-xxxl-10 ms-2 mb-3 col-3 col-lg-auto" href="#">
        <div class="row">
            <div class="col-12">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/n_efmi-std--color.svg">
                        <img src="{{ site.url }}/assets/images/logos/n_efmi-std--color.svg"/>
                    </picture>
                </figure>
            </div>
        </div>

    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/toggle-icon.svg">
                        <img src="{{site.url}}/assets/images/toggle-icon.svg">
                    </picture>
                </figure>
            </span>
        </button>
        <div class="collapse navbar-collapse ms-lg-6 ms-xxl-8 ms-xxxl-10 my-auto" id="navbarNav">
            <ul class="navbar-nav mt-7 mb-1 mb-lg-0 mt-lg-0 ">
                {% for item in site.data.navigation %}
                <li class="nav-item mb-4 mb-lg-0 me-3 me-lg-5">
                    <a class="nav-link p-0 {% if page.url == item.link %}is--active{% endif %}"
                       href="{{site.url}}{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
